<div id="<%= dom_id car %>">
  <p>
    <strong>Name:</strong>
    <%= car.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= car.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= car.description %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= car.available %>
  </p>

</div>
